body{
    background-color: black;
    font-family: "Jersey 15", sans-serif;
    font-size: x-large;
    color:whitesmoke;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer{
    font-family: "Jersey 15", sans-serif;
    font-size: x-large;
    color:whitesmoke;
}