main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70%;
    overflow-y:visible;
}

/* Style the tab */
.tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  border: 1px solid #4b5563;
  background-color: #304D6D;
  margin-bottom: 0%;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  /*padding: 14px 16px;*/
  transition: 0.3s;
  flex-grow: 1;
  background-color: #304D6D;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  max-width: fit-content;
}
button{
  border-radius:0rem;
  box-shadow:inherit;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #3b82f6;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: black;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 70%;
  /*overflow-y: scroll;*/
  border-top: none;
  
}